#iconAvatar {
  width: 3em;
  height: 3em;
  color: #0cbf66;
}
#userSettingBtn {
  border-radius: 15px;
  justify-content: space-between;
  border-color: #0cbf66;
  color: black;
  height: 55px;
}
.userSettings {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.userSettingContainer {
  position: relative;
}
