.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-form {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.formik-error-message {
  @apply text-red-500 text-xs mt-1 italic;
}

.label-input {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.input-file {
  @apply file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100;
}

.btn-submit-form {
  @apply bg-green-500 text-white p-2 rounded-2xl hover:bg-green-700 transition duration-200;
}

.btn-delete-image {
  @apply px-4 py-2 rounded-full border-0 text-sm font-semibold bg-red-50 text-red-700 hover:bg-red-100 mt-2;
}

.btn-open {
  @apply px-4 py-2 rounded-full border-0 text-sm font-semibold bg-green-50 text-green-700 hover:bg-green-100 mt-2;
}
