.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Ẩn nút tăng/giảm trong input[type=number] - hoạt động trên hầu hết các trình duyệt */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Chrome, Safari, và các trình duyệt hỗ trợ */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-1 {
  border-width: 1px;
}
.border-t-1 {
  border-top-width: 1px;
}
.text-xxs {
  font-size: 0.45rem;
  line-height: 0.25rem;
}
.p-custom {
  padding: 0.3rem;
}

.btn-add {
  @apply font-semibold h-10 gap-2 bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-xl hover:shadow-xl transition ease-in-out duration-300 flex items-center;
}

.btn-add-secondary {
  @apply w-28 border-1 border-green-400 hover:bg-green-400 hover:text-white font-semibold h-8 gap-2 text-green-400 py-2 px-4 rounded-xl hover:shadow-xl transition ease-in-out duration-300 flex items-center;
}
.btn-add-third {
  @apply w-28 border-1 border-sky-400 hover:bg-sky-400 hover:text-white font-semibold h-8 gap-2 text-sky-400 py-2 px-4 rounded-xl hover:shadow-xl transition ease-in-out duration-300 flex items-center;
}
.btn-replay {
  @apply border-1 border-yellow-400 hover:bg-yellow-400 hover:text-white font-semibold h-10 gap-2 text-yellow-400 py-2 px-4 rounded-xl hover:shadow-xl transition ease-in-out duration-300 flex items-center;
}

.input-search {
  @apply h-10 py-2 px-4 border rounded-xl text-gray-700 focus:outline-none font-medium focus:border-green-500;
}

.input-form {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.display-img {
  @apply w-16 h-12 rounded-xl;
}

.display-img-user {
  @apply w-12 h-12 rounded-full;
}

.formik-error-message {
  @apply text-red-500 text-xs mt-1 italic;
}

.label-input {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.input-file {
  @apply file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100;
}

.btn-submit-form {
  @apply bg-green-500 text-white p-2 rounded-2xl hover:bg-green-700 transition duration-200;
}

.btn-delete-image {
  @apply px-4 py-2 rounded-full border-0 text-sm font-semibold bg-red-50 text-red-700 hover:bg-red-100 mt-2;
}

.btn-open {
  @apply px-4 py-2 rounded-full border-0 text-sm font-semibold bg-green-50 text-green-700 hover:bg-green-100 mt-2;
}

.confirm-modal {
  @apply bg-white rounded-xl px-9 py-6 max-w-lg mx-auto z-50;
}

.btn-cancel {
  @apply font-semibold px-4 py-2 border border-gray-400 hover:bg-gray-100 rounded-xl text-black;
}
.btn-confirm-delete {
  @apply font-semibold px-4 py-2 bg-red-500 hover:bg-red-700 rounded-xl text-white;
}

.btn-delete {
  @apply hover:bg-red-500 hover:text-white font-semibold px-4 py-2 border-1 border-red-500 rounded-xl text-red-500;
}

.btn-confirm {
  @apply font-semibold px-4 py-2 bg-green-500 hover:bg-green-700 rounded-xl text-white;
}

.delete-icon {
  @apply size-5 cursor-pointer ml-4 text-red-500;
}

.number-input-form {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.user-input {
  @apply mt-3 focus:outline-none border-1 w-full rounded-xl p-2 hover:border-green-500  focus:border-green-500;
}

.text-name {
  @apply font-bold cursor-pointer hover:text-green-500;
}

.btn-submit-user {
  @apply font-bold p-2 w-full rounded-xl bg-green-500 text-white transition-colors duration-300 hover:bg-green-700 mt-4 border-none;
}

.btn-submit-user-outline {
  @apply font-bold p-2 w-full rounded-xl  text-green-500 hover:text-white transition-colors duration-300 hover:bg-green-500 mt-4 border-1 border-green-500;
}

.loading-button {
  @apply font-bold p-2 w-full rounded-xl bg-green-500 text-white transition-colors duration-300 hover:bg-green-700 mt-4 border-none;
}
.line {
  @apply w-10 border-t-1 border-solid border-gray-500;
}
.user-food-name {
  @apply text-lg font-bold;
}
.user-combo-name {
  @apply text-lg font-bold;
}
.cart-food-name {
  @apply text-lg font-bold;
}
.user-btn-confirm {
  @apply bg-green-500 text-white  py-2.5  mb-2 rounded-xl hover:bg-green-600 transition-colors font-bold;
}

@media (max-width: 768px) {
  .user-food-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Đảm bảo rằng nội dung được hiển thị trên một dòng */
    max-width: 150px; /* Hoặc một giá trị cụ thể tùy thuộc vào yêu cầu thiết kế của bạn */
  }
  .user-combo-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap; /* Đảm bảo rằng nội dung được hiển thị trên một dòng */
    max-width: 150px; /* Hoặc một giá trị cụ thể tùy thuộc vào yêu cầu thiết kế của bạn */
  }
  .cart-food-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap; /* Đảm bảo rằng nội dung được hiển thị trên một dòng */
    max-width: 100px; /* Hoặc một giá trị cụ thể tùy thuộc vào yêu cầu thiết kế của bạn */
  }
}

/* Data tables css */
/* @import "assets/css/datatables.css"; */

.table-dailyoder td {
  border: 1px solid #ddd; /* Thêm đường viền cho mỗi ô */
}
