.table-content-container {
  height: 100vh; /* Đặt chiều cao cố định cho dishes-container */
  overflow: hidden; /* Ẩn phần dư thừa nếu có */
  width: 100%;
}
.table-container {
  width: 100%;
  height: 80%; /* Chiều cao 100% của dishes-container */
  overflow-y: auto; /* Cho phép cuộn theo chiều dọc nếu nó lớn hơn dishes-container */
  padding: 20px;
}
.pagination-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px; /* Điều chỉnh padding nếu cần thiết */
}
.table-title {
  margin-top: 15px;
  margin-bottom: 5px;
}
.create-btn {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-bottom: 5px;
}
#create-btn {
  background-color: #0cbf66;
  border-radius: 20px;
}
